<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <!-- Site Metas -->
    <meta name="keywords" content="fric-lumière, agence, services, multi-services, Lomé, Togo" >
    <meta name="description" content="Nous sommes une agence multi-services permettant de faciliter le quotidien des Togolais." >
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title>Fric Lumière - Agence Multi-Services</title>

    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

    <link rel="canonical" href="https://fric-lumiere.com/" >
    <link rel='shortlink' href='https://fric-lumiere.com/' >

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- <link href="node_modules/lightbox2/dist/css/lightbox.css" rel="stylesheet" > -->

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" >

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" >

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" >
    {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" > #}

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" >
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" >

  </head>

  <body>

      <div class="hero_area">

          <div class="hero_bg_box">
              <div class="bg_img_box">
                  <img src="/images/hero-bg.png" alt="sweet waves">
              </div>
          </div>

          <!-- header section strats -->
          <header class="header_section">
              <div class="container-fluid">
                  <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand" href="{{path('visitor.welcome.index')}}">
                      <img src="/images/fric-lumiere_logo.png" alt="Le logo de fric lumière">
                  </a>

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class=""> </span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav  ">
                      <li class="nav-item active">
                          <a class="nav-link" href="{{path('visitor.welcome.index')}}">Accueil <span class="sr-only">(current)</span></a>
                      </li>
                      {# <li class="nav-item">
                          <a class="nav-link" href="{{path('visitor.welcome.index')}}#products_section">Nos derniers produits</a>
                      </li> #}
                      <li class="nav-item">
                          <a class="nav-link" href="{{path('visitor.welcome.index')}}#services_section">Nos services</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{path('visitor.welcome.index')}}#about_us_section">A propos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{{path('visitor.welcome.index')}}#contact_section">Contactez-nous</a>
                      </li>
                      </ul>
                  </div>
                  </nav>
              </div>
          </header>
          <!-- end header section -->

          <!-- slider section -->
          <section class="slider_section ">
              <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="container ">
                              <div class="row">
                                  <div class="col-md-6 ">
                                      <div class="detail-box">
                                          <h1>
                                              AGENCE MULTI-SERVICES <br>
                                              POUR VOUS SERVIR
                                          </h1>
                                          <!-- <p>
                                          Explicabo esse amet tempora quibusdam laudantium, laborum eaque magnam fugiat hic? Esse dicta aliquid error repudiandae earum suscipit fugiat molestias, veniam, vel architecto veritatis delectus repellat modi impedit sequi.
                                          </p> -->
                                          <div class="btn-box">
                                              <a href="https://api.whatsapp.com/send/?phone=22893851784&text&type=phone_number&app_absent=0" class="btn1">
                                                  +228 93 85 17 84
                                              </a>
                                              <a href="https://api.whatsapp.com/send/?phone=22822511373&text&type=phone_number&app_absent=0" class="btn1">
                                                  +228 22 51 13 73
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                  <div class="img-box">
                                      <img src="/images/slider-img.png" alt="">
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {# <ol class="carousel-indicators">
                  <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#customCarousel1" data-slide-to="1"></li>
                  <li data-target="#customCarousel1" data-slide-to="2"></li>
                  </ol> #}
              </div>
          </section>
          <!-- end slider section -->
      </div>

      <section id="services_section" class="layout_padding service_section mb-5">
          <div class="service_container">
          <div class="container ">
              <div class="heading_container heading_center">
              <h2 data-aos="fade-down">
                  Nos <span>Services</span>
              </h2>
              <!-- <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              </p> -->
              </div>
              <div class="row">
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/transfer_icon.png" alt="Transfert d'argent">
                      </div>
                      <div class="detail-box">
                          <h5>
                          Transfert d'argent
                          </h5>
                          <p>
                          National et International
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal1">
                          En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">TRANSFERT D'ARGENT</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                              <p>Découvrez une nouvelle ère de simplicité dans le transfert d'argent, que ce soit à l'intérieur de votre pays ou au-delà des frontières.</p>
                              <p>Notre plateforme sécurisée offre une expérience transparente pour vos transactions financières, vous permettant d'envoyer et de recevoir de l'argent en toute confiance.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/travel_icon.png" alt="Agence de voyage">
                      </div>
                      <div class="detail-box">
                          <h5>
                            Agence de voyage
                          </h5>
                          <p>
                            Réservation et émissions de billets
                          </p>
                          <a href="" data-toggle="modal" data-target="#modal2">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal2" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">AGENCE DE VOYAGE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                              <p>Découvrez le pouvoir de réaliser vos rêves de voyage.</p>
                              <p>Notre agence vous offre une plateforme intuitive pour explorer, réserver et concrétiser vos escapades.</p>
                              <p>Embarquez pour une aventure sans tracas avec nos services de réservation et d'émission de billets.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/realestate2_icon.png" alt="Agence immobilière">
                      </div>
                      <div class="detail-box">
                          <h5>
                          AGENCE IMMOBILIÈRE
                          </h5>
                          <p>
                          Vente, Location de Biens Immobiliers
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal3">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="modal3" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">AGENCE IMMOBILIÈRE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Trouver votre chez-vous idéal n'a jamais été aussi simple.</p>
                            <p>Explorez notre gamme diversifiée de biens immobiliers en vente et en location.</p> 
                            <p>L'agence immobilière qui transforme vos rêves en réalité.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/douanes.png" alt="DÉCLARANT EN DOUANES">
                      </div>
                      <div class="detail-box">
                          <h5>
                          DÉCLARANT EN DOUANES
                          </h5>
                          <p>
                          Toutes Formalités de Douanes
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal4">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal4" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">DÉCLARANT EN DOUANES</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Soyez prêt pour le commerce mondial en toute simplicité.</p>
                            <p>Découvrez notre guide complet sur les déclarations en douane, un outil essentiel pour des échanges internationaux sans tracas.</p>
                            <p>Simplifiez vos démarches et assurez la conformité avec nos conseils d'experts.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/buysell_icon.png" alt="ACHAT ET VENTE">
                      </div>
                      <div class="detail-box">
                          <h5>
                          ACHAT ET VENTE
                          </h5>
                          <p>
                          Mobiliers, Articles et Divers
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal5">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="modal5" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">ACHAT ET VENTE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Découvrez une expérience d'achat et de vente inégalée sur notre marché diversifié.</p>
                            <p>Que vous cherchiez des meubles tendance, des articles du quotidien ou des trésors uniques, notre plateforme est votre destination incontournable pour des trouvailles exceptionnelles.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
              <div class="col-md-4 ">
                  <div class="box" data-aos="fade-right" data-aos-duration="2000">
                    <div class="img-box h-100">
                        <img src="/images/rental_icon.png" alt="LOCATION DE BIENS">
                    </div>
                    <div class="detail-box">
                        <h5>
                        LOCATION DE BIENS
                        </h5>
                        <p>
                        Location de voitures et autres biens mobiles
                        </p>
                        <a href="#" data-toggle="modal" data-target="#modal6">
                          En savoir plus
                        </a>
                    </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="modal6" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title">LOCATION DE BIENS</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                        <div class="modal-body text-left">
                          <p>Découvrez une expérience d'achat et de vente inégalée sur notre marché diversifié.</p>
                          <p>Que vous cherchiez des meubles tendance, des articles du quotidien ou des trésors uniques, notre plateforme est votre destination incontournable pour des trouvailles exceptionnelles.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                  </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/w1.png" alt="ASSURANCES">
                      </div>
                      <div class="detail-box">
                          <h5>
                          ASSURANCES
                          </h5>
                          <p>
                          Automobiles, voyages et autres biens
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal7">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="modal7" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">ASSURANCES</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Soyez tranquille en toutes circonstances avec nos solutions d'assurance sur mesure.</p>
                            <p>Que vous souhaitiez protéger votre voiture, votre maison ou d'autres biens précieux, notre gamme complète d'assurances offre une tranquillité d'esprit inégalée.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/s3.png" alt="ASSURANCES">
                      </div>
                      <div class="detail-box">
                          <h5>
                          SONORISATION
                          </h5>
                          <p>
                          Orchestres pour vos événements
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal8">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">SONORISATION</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Élevez l'expérience sonore de vos événements avec notre service de location de sonorisation.</p>
                            <p>Des notes cristallines, des basses puissantes, une qualité audio exceptionnelle pour créer une atmosphère inoubliable.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box" data-aos="fade-right" data-aos-duration="2000">
                      <div class="img-box h-100">
                          <img src="/images/w4.png" alt="ASSURANCES">
                      </div>
                      <div class="detail-box">
                          <h5>
                          IMMATRICULATION DE TERRAINS
                          </h5>
                          <p>
                          Titres fonciers
                          </p>
                          <a href="#" data-toggle="modal" data-target="#modal9">
                            En savoir plus
                          </a>
                      </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="modal8" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">IMMATRICULATION DE TERRAINS</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                          <div class="modal-body text-left">
                            <p>Explorez nos services d'immatriculation de terrain et de titres fonciers. Obtenez des informations détaillées sur chaque service, y compris les tarifs transparents et les délais de traitement.</p>
                            <p>Suivez les étapes clés pour l'immatriculation de terrain et l'obtention du titre foncier. Consultez la liste des documents nécessaires et bénéficiez de conseils pour un processus fluide.</p>
                            <p>Découvrez les nombreux avantages liés à l'immatriculation de terrain et au titre foncier. De la sécurité juridique à la facilitation des transactions, comprenez pourquoi ces services sont essentiels.</p>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                          </div>
                          </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
          </div>
      </section>
    
      <section id="about_us_section" class="layout_padding bg-light">
          <div class="container  ">
          <div class="heading_container heading_center mb-5">
              <h2 data-aos="fade-down">
              Qui sommes-<span>nous?</span>
              </h2>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="h-100 d-flex flex-column justify-content-around">
                    <p>
                        Nous formons une équipe de professionnels disposant d’une grande expérience dans les divers services offerts au Togo et au niveau régional et international. 
                    </p>
                    <div>
                      <ul class="list-unstyled">
                          <li><span class="text-success">&#11166;</span> PROFESSIONNALISME</li>
                          <li><span class="text-success">&#11166;</span> EXPÉRIENCE</li>
                          <li><span class="text-success">&#11166;</span> FIABILITÉ</li>
                          <li><span class="text-success">&#11166;</span> DISPONIBILITÉ</li>
                      </ul>
                    </div>
                    <p>
                      Nos agents qualifiés vous épargneront des dépenses et de votre temps précieux.
                    </p>
                    <div class="detail-box mt-2 mb-5">
                      <a data-aos="zoom-in"  href="{{path('visitor.welcome.index')}}#contact_form_section">Remplissez le formulaire</a>
                      <a data-aos="zoom-in"  href="https://api.whatsapp.com/send/?phone=22893851784&text&type=phone_number&app_absent=0">Ecrivez-nous sur Whatsapp</a>
                    </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="img-box">
                    <img class="img-fluid rounded" src="/images/about1.jpg" alt="Qui sommes-nous?">
                </div>
              </div>
          </div>
          </div>
      </section>

      <!-- about section -->
      <section id="contact_section" class="about_section layout_padding" style="-webkit-border-bottom-right-radius: 120px;
          -webkit-border-bottom-left-radius: 120px;
          -moz-border-radius-bottomright: 120px;
          -moz-border-radius-bottomleft: 120px;
          border-bottom-right-radius: 120px;
          border-bottom-left-radius: 120px;">
          <div class="container  ">
            <div class="heading_container heading_center">
                <h2 data-aos="fade-down">
                Contactez-<span>nous</span>
                </h2>
            </div>
          <div class="row">
              <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/images/about.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6">
              <div class="detail-box">
                  <h3>
                  NOUS SOMMES À VOTRE DISPOSITION!
                  </h3>
                  <p>
                  Nos agents qualifiés et fiables sont à votre disposition pour vous faciliter vos besoins de services professionnels.
                  </p>
                  <p>Tel: +228 93 85 17 84</p>
                  <p>Tel: +228 98 08 66 89</p>
                  <p>Tel: +228 22 51 13 73</p>
                  <p>Tel: +228 22 50 92 17</p>
                  <p>Email1: agencefric@gmail.com</p>
                  <p>Email2: friclumiere@gmail.com</p>
                  <a data-aos="zoom-in" data-aos-duration="1000" href="{{path('visitor.welcome.index')}}#contact_form_section">Remplissez le formulaire</a>
                  <a data-aos="zoom-in" data-aos-duration="1000" href="https://api.whatsapp.com/send/?phone=22893851784&text&type=phone_number&app_absent=0">Ecrivez-nous sur Whatsapp</a>
              </div>
              </div>
          </div>
          </div>
      </section> 

    <!-- end about section -->

    <!-- Contact section -->
    <section id="contact_form_section" class="layout_padding bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto shadow bg-white p-4 rounded">
            {% for message in app.flashes('success') %}
              <div class="alert text-center alert-success alert-dismissible fade show" role="alert">
                {{message}}
              </div>
            {% endfor %}
            <h2 class="text-center my-3" data-aos="flip-down" data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">Vous préférez remplir le formulaire ?</h2>
            {{form_start(form, {'action': path('visitor.welcome.index')~'#contact_form_section'})}}
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="contact_form_firstName">Prénom <span class="text-danger">*</span></label>
                  <div class="text-danger">{{form_errors(form.firstName)}}</div>
                  {{form_widget(form.firstName, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="contact_form_lastName">Nom <span class="text-danger">*</span></label>
                  <div class="text-danger">{{form_errors(form.lastName)}}</div>
                  {{form_widget(form.lastName, {'attr': {'class':'form-control'}})}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="contact_form_email">Email <span class="text-danger">*</span></label>
                  <div class="text-danger">{{form_errors(form.email)}}</div>
                  {{form_widget(form.email, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="contact_form_phone">Numéro de téléphone</label>
                  <div class="text-danger">{{form_errors(form.phone)}}</div>
                  {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                </div>
              </div>
              <div class="mb-3">
                <label for="contact_form_message">Message <span class="text-danger">*</span></label>
                <div class="text-danger">{{form_errors(form.message)}}</div>
                {{form_widget(form.message, {'attr': {'class':'form-control', 'rows':'6'}})}}
              </div>
              <div class="mb-3">
                <input formnovalidate type="submit" class="btn btn-primary w-100">
              </div>
              {{form_end(form)}}
          </div>
        </div>
      </div>
    </section>
    <!-- end Contact section -->


    <!-- info section -->

    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 info_col">
            <div class="info_contact">
              <h4>
                Adresse
              </h4>
              <div class="contact_link_box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  <a href="https://maps.app.goo.gl/sqMYq71svxCZV4Xs7">
                    Quartier Attikoumé, 200m sur la voie longeant les rails vers l’agence Togocel et le pavé Djidjolé,
                    Lomé, Togo.
                  </a>
                </span>
              </div>
            </div>
            <div class="info_social">
              <a target="_blank" href="https://www.facebook.com/p/Fric-lumi%C3%A8re-100083835150557/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a class="mx-1" target="_blank" href="https://goo.gl/maps/9zMic8em9mvcgmew6">
                <i class="fa fa-google" aria-hidden="true"></i>
              </a>
              <a target="_blank" href="https://www.tiktok.com/@user93851784225113">
                <i class="fab fa-tiktok" aria-hidden="true"></i>
              </a>
              <a href="https://instagram.com/jka_electro?igshid=MzMyNGUyNmU2YQ==">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 info_col">
            <div class="info_detail">
              <h4>
                Info
              </h4>
                <span>
                  <a class="text-white" href="{{path('visitor.authentication.login')}}">Connexion</a>
                </span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mx-auto info_col">
            <div class="info_link_box">
              <h4>
                Contacts
              </h4>
              <div>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    agencefric@gmail.com
                  </span>
                  <br/><br/>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    friclumiere@gmail.com
                  </span>
                </div>
                <br/>
              <i class="my-3 fa fa-phone" aria-hidden="true"></i>
                <p>
                  +228 93 85 17 84
                </p>
                <p>
                  +228 98 08 66 89
                </p>
                <p>
                  +228 22 51 13 73
                </p>
                <p>
                  +228 22 50 92 17
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end info section -->

    <!-- footer section -->
    <div class="footer_section">
      <div class="container">
        <p>
          Copyright &copy; Fric lumière <span id="copyrightYear"></span>.
        </p>
      </div>
    </div>
    <!-- footer section -->

    <!-- jQery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        document.getElementById("copyrightYear").innerText = new Date().getFullYear();
      </script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->

    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <!-- <script src="node_modules/lightbox2/dist/js/lightbox-plus-jquery.js"></script> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      $(document).ready(function()
      {

        $(".owl-carousel").owlCarousel();

          let navbar = $('.header_section');

          $(window).scroll(function(){
              if($(window).scrollTop() <= 40)
              {
                  navbar.removeClass('navbar-scroll');
              }
              else
              {
                  navbar.addClass('navbar-scroll');
              }
          });
      });


    </script>

  </body>
</html>